doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='/Images/favicon.png' type='image/x-icon')
    link(rel='stylesheet' href='/styles/styles.css')
    title #{title}

  body
    #header
      .wrapper
        a(href="/") 
          img.header-logo(src='/Images/Logo_white.png' alt='logo')
        .header-search-box
          form(action="/recipe", method="get") 
            input#search-box(type='text' name='search' placeholder='search')
            button(type="submit" class="search-button") 
              img.search-icon(src='/Images/search.png')
        .header-icons
          a.nav-link(href='/')  Home 
        .hamburger
          .line
          .line
          .line
    #recipes
      .cards(class = "favourite-section")


    script(src='/js/bundle.js') 