extends base

block content
  #recipes
    .cards
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
      .card
        img.card-image(src='/Images/pizza.jpg' alt='recipe-image')
        .card-details
          p Pizza
          img.card-footer-img(src='/Images/heart.png' alt='heart')
          img.card-footer-img(src='/Images/cart.png' alt='cart')
