doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./Images/favicon.png' type='image/x-icon')
  link(rel='stylesheet' href='styles/styles.css')
  title Foodie&apos;s Delight
#header
  .wrapper
    img.header-logo(src='./Images/Logo_white.png' alt='logo')
    .header-search-box
      input#search-box(type='text' name='search' placeholder='search')
      img.search-icon(src='./Images/search.png')
    .header-icons
      a.nav-link(href='#')  Favourite 
      a.nav-link(href='#')  Cart 
    .hamburger
      .line
      .line
      .line
#recipes
  .cards
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
    .card
      img.card-image(src='./Images/pizza.jpg' alt='recipe-image')
      .card-details
        p Pizza
        img.card-footer-img(src='./Images/heart.png' alt='heart')
        img.card-footer-img(src='./Images/cart.png' alt='cart')
script(src='./app.js')
