$header-color: #867ae9;
$card-color: #c449c2;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

body {
  height: 100vh;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

#header {
  background-color: $header-color;
  display: grid;
  grid-template-columns: auto;
  align-items: stretch;
  justify-items: center;
  height: 5em;

  .wrapper {
    width: 80%;
    height: 5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;

    .header-logo {
      width: 10em;
      height: 3em;
    }

    .header-search-box {
      width: 20em;
      background-color: white;
      border-radius: 20em;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      justify-items: center;
      align-items: center;
      padding: 0.5em;

      #search-box {
        background: transparent;
        border: none;
        text-transform: capitalize;
        font-size: 1em;
        width: 17em;
      }

      .search-button {
        background-color: transparent;
        border: none;
      }

      .search-icon {
        justify-self: center;
        align-self: center;
        cursor: pointer;
        width: 15px;
      }
    }

    .header-icons {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 5em;
      align-items: center;

      a {
        cursor: pointer;
      }

      a:hover {
        transform: scale(1.1);
        transition: transform 0.1s ease-in-out;
      }

      .nav-link:active {
        transform: scale(0.96);
        transition: transform 0.1s ease-in-out;
      }
    }

    .hamburger {
      display: none;
    }
  }
}

#recipes {
  display: grid;
  grid-template-columns: auto;
  align-items: stretch;
  justify-items: center;

  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    width: 80%;

    .card {
      margin: 10%;

      .card-image {
        position: relative;
        top: 2em;
        border-radius: 10px;
        box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 1;
      }

      .card-details {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 25px;
        background-color: $card-color;
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 1em;
        justify-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        p {
          text-transform: capitalize;
          grid-column-start: 1;
          grid-column-end: 3;
          padding-top: 10px;
          color: white;
          font-weight: Bold;
          letter-spacing: 1px;
          font-size: 1.2em;
        }

        .card-footer-img {
          cursor: pointer;
          width: 20px;
          transition: all 0.2s ease-out;
        }

        .card-footer-img:hover {
          transform: scale(1.2);
        }

        .card-footer-img:active {
          transform: scale(0.98);
        }
      }
    }

    .card:hover {
      transform: scale(1.1);
      transition: all 0.2s ease-out;
    }
  }
}

@media screen and (max-width: 999px) {
  #header {
    .wrapper {
      .header-icons {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #9e54ff;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
        left: 0;
        pointer-events: none;
        clip-path: circle(100px at 100% -30%);
        transition: all 1s ease-out;
        z-index: 100;

        .nav-link {
          color: transparent;
          transition: all 0.5s ease 0.2s;
          opacity: 0;
        }
        .fade {
          opacity: 1;
        }
      }

      .header-icons.open {
        clip-path: circle(1500px at 100% -30%);
        pointer-events: all;

        .nav-link {
          color: white;
          font-size: 2em;
        }
      }

      .hamburger {
        width: 1.5em;
        height: 1em;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 5px;
        cursor: pointer;
        z-index: 100;

        .line {
          background-color: white;
        }
      }
    }
  }
  #recipes {
    .cards {
      grid-template-columns: auto auto;
    }
  }
}

@media screen and (max-width: 800px) {
  #header {
    .wrapper {
      .header-search-box {
        width: 15em;

        #search-box {
          width: 12em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: 100vh;
    .wrapper {
      position: relative;
      grid-template-columns: auto;
      height: 100vh;

      .header-logo {
        width: 20em;
        height: auto;
      }

      .hamburger {
        position: absolute;
        top: 5%;
        right: 7%;
      }
    }
  }
  #recipes {
    .cards {
      width: 60%;
      grid-template-columns: auto;
    }
  }
}

@media screen and (max-width: 523px) {
  #header {
    .wrapper {
      .header-logo {
        width: 15em;
        height: auto;
      }
    }
  }
  #recipes {
    .cards {
      width: 80%;
    }
  }
}
