@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

body {
  height: 100vh;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

#header {
  background-color: #867ae9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  height: 5em;
}

#header .wrapper {
  width: 80%;
  height: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .wrapper .header-logo {
  width: 10em;
  height: 3em;
}

#header .wrapper .header-search-box {
  width: 20em;
  background-color: white;
  border-radius: 20em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

#header .wrapper .header-search-box #search-box {
  background: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1em;
  width: 17em;
}

#header .wrapper .header-search-box .search-button {
  background-color: transparent;
  border: none;
}

#header .wrapper .header-search-box .search-icon {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  width: 15px;
}

#header .wrapper .header-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .wrapper .header-icons a {
  cursor: pointer;
}

#header .wrapper .header-icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#header .wrapper .header-icons .nav-link:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#header .wrapper .hamburger {
  display: none;
}

#recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
}

#recipes .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  justify-items: center;
  width: 80%;
}

#recipes .cards .card {
  margin: 10%;
}

#recipes .cards .card .card-image {
  position: relative;
  top: 2em;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

#recipes .cards .card .card-details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px;
  background-color: #c449c2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 1em;
  justify-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#recipes .cards .card .card-details p {
  text-transform: capitalize;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 10px;
  color: white;
  font-weight: Bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

#recipes .cards .card .card-details .card-footer-img {
  cursor: pointer;
  width: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#recipes .cards .card .card-details .card-footer-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#recipes .cards .card .card-details .card-footer-img:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#recipes .cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 999px) {
  #header .wrapper .header-icons {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #9e54ff;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100vh;
    width: 100vw;
    left: 0;
    pointer-events: none;
    -webkit-clip-path: circle(100px at 100% -30%);
            clip-path: circle(100px at 100% -30%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 100;
  }
  #header .wrapper .header-icons .nav-link {
    color: transparent;
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
    opacity: 0;
  }
  #header .wrapper .header-icons .fade {
    opacity: 1;
  }
  #header .wrapper .header-icons.open {
    -webkit-clip-path: circle(1500px at 100% -30%);
            clip-path: circle(1500px at 100% -30%);
    pointer-events: all;
  }
  #header .wrapper .header-icons.open .nav-link {
    color: white;
    font-size: 2em;
  }
  #header .wrapper .hamburger {
    width: 1.5em;
    height: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-row-gap: 5px;
    cursor: pointer;
    z-index: 100;
  }
  #header .wrapper .hamburger .line {
    background-color: white;
  }
  #recipes .cards {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 800px) {
  #header {
    height: 100vh;
  }
  #header .wrapper {
    position: relative;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 100vh;
  }
  #header .wrapper .header-logo {
    width: 20em;
    height: 6em;
  }
  #header .wrapper .hamburger {
    position: absolute;
    top: 5%;
    right: 7%;
  }
}

@media screen and (max-width: 600px) {
  #recipes .cards {
    width: 60%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 523px) {
  #header .wrapper .header-logo {
    width: 15em;
    height: 5em;
  }
  #header .wrapper .header-search-box {
    width: 15em;
  }
  #header .wrapper .header-search-box #search-box {
    width: 10em;
  }
  #recipes .cards {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */